{% extends "base.html" %}

{% block write_form %}
   <form action="{% url 'write' %}" method="post" class="form" >
        {% csrf_token %}
        <div class="form-group">
            <label> Title: </label> <input class="form-control" type="text" name="title" />
        </div>

        <div class="form-group">
            <label>Type :</label>
            <select class="form-control" id="sel1" name="type">
                <option>Short Story</option>
                <option>Poetry</option>
                <option>Essays</option>
                <option>Starts</option>
            </select>
        </div>
        <div class="form-group">
          <label for="sel1">Status: </label>
          <select class="form-control" id="sel1" name="status">
            <option>Draft</option>
            <option>Done</option>
            <option>Published</option>
            <option>In Progress</option>
          </select>
        </div>
        <div class="form-group">
            <label> Write On </label>
            <textarea class="form-control" rows="30" name="text-content"></textarea>
        </div>
        <input type="submit" value="Add" class="btn btn-danger btn-block input-lg" />
    </form>
     
{% endblock write_form %}
