<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>World of Shar</title>

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/base.css">
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand"><a href="{% url 'index' %}"><h3 class="">worldofshar</h3></a></div>
                </div>
                <ul class="nav navbar-nav">
                    <li class="navbar-item active"><a href="{% url 'home' %}"><h3 class="">Creative Space</h3></a></li>
                </ul>
            
        </div>
</nav>
    <h1>Fixed navbar</h1>

<div class="display-div container-fluid">
    <div class="admin-div">
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                <h3 class="text-muted">{% block access_div %}{% endblock %}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                <h3 class="text-muted">{% block login_div %}{% endblock %}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                <h3 class="text-muted">{% block write_form %}{% endblock %}</h3>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
           <div class="col-md-10 col-md-offset-1 content-div">
                {% block entry_div %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 comment-div">
            {% block comment_div %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="home-div row">
        <div class="row">
            <div class="types col-md-3">
                {% block display_div %}{% endblock %}
            </div>
            <div class="entries col-md-6">
            </div>
            <div class="col-md-3">
                {% block word_of_the_day %}{% endblock%}
                {% block quote_of_the_day %}{% endblock%}
            </div>
        </div>
    </div>
</div>

</body>
</html>