{% extends "base.html" %}



{% block entry_div %}
    <div >
        <h1> {{entry.name}} </h1>
        <div class="preserve"><h2>{{entry.content}}</h2></div>
    </div>
{% endblock %}
{% block comment_div %}
    <br><br><h3>Comments </h3>
    <div class="comment-form">
        <form action="{% url 'comment' %}" method="post" class="form" >
        {% csrf_token %}
        <div class="form-group input-custom">
            <input class="form-control" type="text" name="username" placeholder="Username"/>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="comment_text" placeholder="Comment"></textarea>
        </div>
        <input type="hidden" name="entry" value="{{entry.id}}">
        <input type="submit" value="Add Comment" class="btn btn-success input-sm" />
    </form>
    </div>
    <br><br>
    <div class="comments">
        {% for i in comments %}       
            <div class="com">
                    <u><h4>{{ i.username }}</h4></u>
                    <h4>{{i.comment_text}}</h4>
            </div>
        {% endfor %}
    </div>
{% endblock %}

