{% extends "base.html" %} 
    {% load cache %}


{% cache 50000 wod_qod %}
{% block quote_of_the_day %}
                <div class="quote-of-day">

            <h2><em>Quote of the day</em></h2>
            <hr>

    <h3><b>{{quote.q}}</b></h3>
    <h3>{{quote.a}}</h3>
    </div>
{% endblock %}

{% block word_of_the_day %}
                <div class="word-of-day">

<h2><em>Word of the day</em></h2>
    <hr>
    <h3><b>{{word.w}}</b></h3>
    <h3>{{word.d}}</h3>
    </div>
{% endblock %}
{% endcache %}

{% block display_div %}

<div class="ypes list-group">
  <div id="Short Story" class="type active1 list-group-item"><h2>Short Story</h2></div>
  <div id="Poetry" class="type list-group-item"><h2>Poetry</h2></div>
  <div id="Starts" class="type list-group-item"><h2>Starts</h2></div>
  <div id="Essay" class="type list-group-item"><h2>Essay</h2></div>  
</div>
<script type="text/javascript" src="/static/base.js"></script>
{% endblock %}
