<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>World of Shar</title>

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/base.css">
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
   
</head>
<body>
<div class="container-fluid">
<div class="index-container">
    <div class="header row">
        <button class="btn col-md-2 col-md-offset-1"><a href="{% url 'home' %}">Creative Space</a></button>
        <button class="btn col-md-2 col-md-offset-1">A Game</button>
        <button class="btn col-md-2 col-md-offset-1">Analyzer</button>


    </div>

    <div class="about row">
        <h1>About me</h1>
        <hr>
        <br><br>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <img src="/static/me.jpg" class="img-circle" >
                
            </div>
            <div>
                    <h2>Sharvani H S</h2>
                    <h3>Work as Software Engineer.</h3>
                    <h3>Hoping to become a novelist as well.</h3>                
            </div>
        </div>
    </div>
    <div class="footer">
        <h3>Contact : worldofshar@gmail.com</h3>
    </div>

</div>
</div>
</body>
</html>