{% extends "base.html" %} 

{% block login_div %}
<div class="row">
    <form action="{% url 'login' %}" method="POST" class="form">
        {% csrf_token %}
        <div class="form-group input-custom">
            <label>User:</label>
            <input type="email" readonly="true" class="form-control" placeholder="worldofshar" name="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" name="pwd">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{% endblock %}
