body {
    background-color: black;
    }
.display_div{
    background-image: url('/static/3.jpg');
    background-repeat: no-repeat;
    background-size: cover ;
    height: 683px;
    background-color: white;

}

.index-container{

}


.header {
    background-image: url('/static/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 683px;
    
  display: flex;
  align-items: center;
  position: relative;
    padding-top: 35%;
    padding-bottom: 20%;

}
.header button {
    background-color: firebrick;
    padding: 1%;
    font-size: 2em;
    color:snow;
    text-decoration: none;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color:inherit;

}
.about{
    background-image: url('/static/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 683px;
    color: gold;
    padding: 2%;   
    font-family: monospace;
}
.footer{
    color: gold;
    bottom:0%;
    text-align: center;

}

.text-muted {
    color: snow;
}
.category {
    margin-bottom: 3%; 
    background-color: black;
}
.category-type {
    background-color: black;
}
.category-list {
    background-color: black;
    color: black;
}

input[class=form-control] {
    background-color: papayawhip;
    width: 50%;
}
#sel1, #sel2{
    width: 25%;
}
textarea {
    width:80%;
}
