
.display_div{
    background-image: url('/static/3.jpg'), url('/static/3.jpg'), url('/static/3.jpg');
    background-repeat: repeat, repeat,repeat;
    background-size: cover,cover,cover ;

    background-color: white;

}

.index-container{

}
.hidden{
    visibility: hidden;
}

.header {
    background-image: url('/static/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    
  display: flex;
  align-items: center;
  position: relative;
    padding-top: 40%;
    padding-bottom: 20%;

}
.header button {
    background-color: black;
    padding: 1%;
    width: auto;
    border: 2px dotted gold;
    border-radius: 20%;
    color:snow;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color:inherit;
}
.about{
    background-image: url('/static/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: gold;
    padding: 2%;   
    font-family: monospace;
}
.footer{
    color: gold;
    bottom:0%;
    text-align: center;

}

.word-of-day, .quote-of-day {
    color: palegreen;
    background-color: dimgray ;
    padding: 1%;
    margin-left: 2%;
    border-radius: 5%;


}
.quote-of-day{
    float: right;
    margin-right: 2%;
}
.category {
    margin-bottom: 3%; 
    background-color: black;
}
.category-type {
    background-color: black;
}
.category-list {
    background-color: black;
    color: black;
}

input[class=form-control] {
    background-color: papayawhip;
    width: 50%;
}
#sel1, #sel2{
    width: 25%;
}
textarea {
    width:80%;
}
